<p id="notice"><%= notice %></p>

<h1>Course Proposal Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Help text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_proposal_questions.each do |course_proposal_question| %>
      <tr>
        <td><%= course_proposal_question.question %></td>
        <td><%= course_proposal_question.help_text %></td>
        <td><%= link_to 'Show', course_proposal_question %></td>
        <td><%= link_to 'Edit', edit_course_proposal_question_path(course_proposal_question) %></td>
        <td><%= link_to 'Destroy', course_proposal_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Proposal Question', new_course_proposal_question_path %>
