<%= form_for(course_proposal) do |f| %>
  <% if course_proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_proposal.errors.count, "error") %> prohibited this course_proposal from being saved:</h2>
      <ul>
      <% course_proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">

    <div class="field">
      <%= f.label :title %>
      <p id="titleHelpBlock" class="form-text text-muted small">
	Suggest a name for your proposed course or workshop.
      </p>
      <%= f.text_field :title , class: "form-control","aria-describedby" => "titleHelpBlock"  %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <p id="descriptionHelpBlock" class="form-text text-muted small">
	How would you describe your course to a potential learner?
      </p>
      <%= f.text_area :description , class: "form-control","aria-describedby" => "descriptionHelpBlock",:rows=>10  %>
    </div>

    <div class="field">
      <%= f.label :background %>
      <p id="backgroundHelpBlock" class="form-text text-muted small">
	(Optional) Tell us anything we need to know about who you are and why you want to teach this course.  We won't display this information publicly.
      </p>
      <%= f.text_area :background , class: "form-control","aria-describedby" => "backgroundHelpBlock"  %>
    </div>

    <div class="field">
      <%= f.label :scheduling %>
      <p id="schedulingHelpBlock" class="form-text text-muted small">
	Let us know when you want to teach this course.  Is this a one-time session?  If not, how frequently do you want to meet? What are some ideal days and times for you?
      </p>
      <%= f.text_area :scheduling , class: "form-control","aria-describedby" => "schedulingHelpBlock"  %>
    </div>

    <hr class="hr"/>

    <%= f.fields_for :course_proposal_question_answers do |answer_form| %>
      <div class="field">
	<%= answer_form.hidden_field :course_proposal_question_id,:value=>answer_form.object.course_proposal_question.id  %>
	<%= answer_form.label :answer, answer_form.object.course_proposal_question.question %>
	<p id="helpBlock<%= answer_form.object.course_proposal_question.id %>"  class="form-text text-muted small">
	  <%= answer_form.object.course_proposal_question.help_text %>
	</p>
	<% if answer_form.object.course_proposal_question.course_proposal_question_options.length == 0 %> 
         <%= answer_form.text_area :answer, class: "form-control", "aria-describedby" => "helpBlock#{answer_form.object.course_proposal_question.id}"  %>
	<% else %>
	<% answer_form.object.course_proposal_question.course_proposal_question_options.each do |option| %> 
	<div class="form-check">
	  <label class="form-check-label">
	    <%= answer_form.radio_button :answer, option.option, class: "form-check-input", "aria-describedby" => "helpBlock#{answer_form.object.course_proposal_question.id}"  %> 
	    <%= option.option %>
	  </label>
	</div>
	<% end %>
	<% end %>
      </div>
    <% end %>


  <%= f.submit "Propose your course!", class: "btn btn-primary"%>

<% end %>
