<%= form_for(course_proposal) do |f| %>
  <% if course_proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_proposal.errors.count, "error") %> prohibited this course_proposal from being saved:</h2>

      <ul>
      <% course_proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :proposed_by,"Your name" %>
    <%= f.text_field :proposed_by,:class=>"form-control","aria-describedby"=>"proposed_byHelp" %>
    <small id="proposed_byHelp" class="form-text text-muted">Let us know who you are!</small>
  </div>

  <div class="form-group">
    <%= f.label :email,"Your email" %>
    <%= f.text_field :email , :class=>"form-control","aria-describedby"=>"emailHelp" %>
    <small id="emailHelp" class="form-text text-muted">How can we contact you?</small>
  </div>

  <%= f.submit class: "btn btn-primary"%>

<% end %>
