<%= form_for(course_series) do |f| %>
  <% if course_series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_series.errors.count, "error") %> prohibited this course_series from being saved:</h2>

      <ul>
      <% course_series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :site_id %>
    <%= f.text_field :site_id %>
  </div>

  <div class="field">
    <%= f.label :is_open %>
    <%= f.check_box :is_open %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
