

<h1><%= @upcoming ? "Upcoming" : "Past" %> Courses</h1>
<div class="mb-3"><%= link_to 'Propose a course!', new_course_proposal_path, :class=>"btn btn-primary btn-block" %></div>

    <% @courses.each do |course| %>
    <div class="card col-sm-6 col-lg-4">
      <div class="card-block">
        <h4><%= link_to course.name,course %></h4>
        <p class="lead"><%= course.very_short_description %></p>
        <h6><%= link_to course.location.name,course.location %></h6>
	<% course.course_sessions.where(:approved=>true).order(:start).each do |cs| %>
	<div class="small"><%= cs.start.to_formatted_s(:starttime) %> - <%= cs.end.to_formatted_s(:endtime) %> </div>
	<% end %>
	<%= link_to "More info",course,class: "btn btn-info btn-block mt-1 mb-1 btn-sm" %>
	<% if current_user && (current_user.courses_registered_for.include? course) %>
	<%= link_to "Cancel your registration for this course",current_user.course_registrations.where(:course=>course).first, method: :delete, class: "btn btn-outline-warning btn-block" %>
	<% else %>
	<%= form_for(CourseRegistration.new(:course=>course)) do |f| %>
	<%= f.hidden_field :course_id %>
	<%= f.submit "Register for this course",class: "btn btn-sm btn-primary btn-block" %>
	<% end %>
	<% end %>


      </div>
    </div>
    <% end %>
 
<br>


