<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_registration.course %>
</p>

<p>
  <strong>User:</strong>
  <%= @course_registration.user %>
</p>

<%= link_to 'Edit', edit_course_registration_path(@course_registration) %> |
<%= link_to 'Back', course_registrations_path %>
