<h1><%= @location.name %></h1>

<p class="lead">
  <%= @location.description %>
</p>


<h4>Address</h4>
<div>  <%= @location.address %></div>

<br />
<iframe class="iframe "  width="100%" height="300" src="https://www.google.com/maps?q=  <%= URI.escape @location.address %>&output=embed"></iframe>
<br />

<div class="courses">
  <%= render "courses/coursecards", {:courses=>@location.upcoming_courses} %>
</div>
