<!DOCTYPE html>
<html class="site_<%= @site.name.gsub(/[^0-9a-z]/i, '') %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Freeschoolplatform" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Freeschoolplatform" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58e16f96403910001141b5f1&product=inline-share-buttons"></script>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div id="homepagebanner" alt="<%= @site.name %>"></div>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
